{% extends "app/base.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}
<app-root> Loading... </app-root>
<!-- 
  <script src="{% static "angular-app/runtime-es2015.js" %}" type="text/javascript"></script>
  <script src="{% static "angular-app/polyfills-es2015.js" %}" type="text/javascript"></script>
  <script src="{% static "angular-app/runtime-es5.js" %}" nomodule defer></script>
  <script src="{% static "angular-app/polyfills-es5.js" %}" nomodule defer></script>
  <script src="{% static "angular-app/styles-es2015.js" %}" type="text/javascript"></script>
  <script src="{% static "angular-app/styles-es5.js" %}" nomodule defer></script>
  <script src="{% static "angular-app/scripts.js" %}" defer></script>
  <script src="{% static "angular-app/vendor-es2015.js" %}" type="text/javascript"></script>
  <script src="{% static "angular-app/main-es2015.js" %}" type="text/javascript"></script>
  <script src="{% static "angular-app/vendor-es5.js" %}" nomodule defer></script>
  <script src="{% static "angular-app/main-es5.js" %}" nomodule defer></script> -->

<script src="{% static "angular-app/runtime-es2015.5bc68c0dd8cf137fbe82.js" %}" type="module"></script>
<script src="{% static "angular-app/polyfills-es2015.5cb1e996b2a376ba4548.js" %}" type="module"></script>
<script src="{% static "angular-app/runtime-es5.ee0aae13fb762b150814.js" %}" nomodule defer></script>
<script src="{% static "angular-app/polyfills-es5.f2cb7085da8422a86399.js" %}" nomodule defer></script>
<script src="{% static "angular-app/scripts.ea9a7b51b5073e2a08c5.js" %}" defer></script>
<script src="{% static "angular-app/main-es2015.915806e7966200f0577e.js" %}" type="module"></script>
<script src="{% static "angular-app/main-es5.d7b59f63fe84ebaf4521.js" %}" nomodule defer></script>


</body>
{% endblock %}